<!-- 
<section class="flex overflow-hidden flex-col items-start px-8 py-7 mx-auto w-full bg-white rounded-3xl border border-gray-50 border-solid shadow-[0px_4px_20px_rgba(238,238,238,0.502)] max-md:px-5 max-md:mt-3.5 max-md:max-w-full">
  <h2 class="text-xl font-semibold leading-relaxed text-indigo-950">Monthly sales</h2>
  <p class="mt-1 text-base leading-8 text-slate-500">Sales Summary</p>
  <div class="self-stretch mt-11 max-md:mt-10 max-md:max-w-full">
    <div class="flex gap-5 max-md:flex-col">
      <ng-container *ngFor="let item of salesData">
        <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
          <div class="flex flex-col items-start p-5 mx-auto font-medium rounded-2xl h-[182px] w-[182px] max-md:mt-8" [ngClass]="item.bgColor">
            <img [src]="item.icon" [alt]="item.title + ' icon'" class="object-contain w-10 aspect-square" />
            <p class="mt-4 text-2xl font-semibold leading-none text-indigo-950">{{ item.value }}</p>
            <p class="mt-2 text-base text-slate-600">{{ item.title }}</p>
            <p class="mt-2 text-xs leading-none text-blue-500">{{ item.change }} from last month</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div> -->