.sales-overview {
  width: fit-content;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
}

.widget-background {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(238, 238, 238, 0.502);
  padding: 47px 16px;
  display: flex;
  flex-direction: column;
}

.widget-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensure space between title and icon */
  align-items: center; /* Align items vertically */
  margin-bottom: 10px;
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the title */
  flex-grow: 1; /* Allow the title container to take up available space */
}

.widget-title {
  color: #737791;
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  text-align: center; /* Ensure text is centered */
}

.widget-subtitle {
  display: flex;
  font: 400 16px/1.5 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-left: auto; /* Push the icon to the right */
  cursor: pointer;
}

.chart-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-height: 100%;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.chart {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.legend {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  color: #737791;
  font: 400 22.8px Inter, sans-serif;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legend-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.legend-icon.budget {
  fill: #a7f6f2;
}

.legend-icon.goals {
  fill: #328082;
}

.toggle-buttons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.toggle-buttons button {
  background-color: #328082;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px; /* Adjust padding to ensure circular shape */
  width: 70px; /* Set width to ensure circular shape */
  height: 70px; /* Set height to ensure circular shape */
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  margin-right: 50px;
}

.toggle-buttons button:hover {
  background-color: #28696e;
}

.dropdown {
  position: absolute;
  top: 200px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 14px;
  color: #737791;
}

.dropdown select {
  width: 100%;
  padding: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* Styling for disabled dropdown option */
option.disabled {
  color: grey;
  background-color: #deefbf;
}

/* Optional hover effect to make it more evident */
option.disabled:hover {
  cursor: not-allowed;
}

@media (max-width: 991px) {
  .sales-overview {
    max-width: 100%;
  }

  .header {
    flex-wrap: wrap;
  }

  .title-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .icon {
    margin-left: auto;
  }

  .chart-container {
    padding: 0 20px;
  }
}